body {
  font-family: "monospace";
  background-color:#161320;
  color: white;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.title {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: white;
  text-decoration: underline;
}



.icon {
  width: 40px;
  font-size: 22px;
  color: white;
}


#music-status {
  display: flex;
  align-items: center;
}

#music-status a {
  text-decoration: underline;
  color: white;
  font-style: italic;
  font-weight: bold;
}

.invisible {
  display: none;
}

