@import url(https://fonts.googleapis.com/css?family=Space+Mono:400,700);

body {
  background-color:#161320;
  /* background: url("https://i.pinimg.com/originals/ed/d4/49/edd44919ed6a265e522cb5f747b6520f.png"); */
  background-size: auto;

  font-family: "Space Mono";

  font-weight: 400;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.profile {
  display: flex;
  align-items: center;

}


.avatar {
  width: 6%;
  border-radius: 50%;
  margin-right: 20px;
}
.username {
  font-size: 180%;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-decoration: none;
  color: #89DCEB;
}

.donate {
  font-size: 100%;
  text-decoration: none;
  color: black;
  padding: 6px;
  opacity: 1;
  background-color: #89DCEB;
  border-radius: 5px;
  width: max-content;
}



a {
text-decoration: none;
}

.container {
  opacity: 0.9;
  border-radius: 20px;
  width: 90%;
  margin: 3%;
  box-shadow: 0 46px 12px -16px hsla(0, 0%, 0%, 0.05);
  position: relative;
  background: #E8A2AF;
}

.content {


  padding: 3.5%;

}




code {
  color: black;

  padding: 2px 2px;

  background-color: #C8E7FF;

  border-radius: 2px;
}

.icon {
  width: 40px;
  font-size: 22px;
  color: black;
}


#music-status {

  display: flex;
  align-items: center;

}
#music-status a {

  text-decoration: underline;
  color: black;
  font-style: italic;
  font-weight: bold;
}
.invisible {
  display: none;
}






.footer {
  position:absolute;
  bottom: 0px;

  padding: 100px;
}
@media only screen and (max-device-width : 640px) {
  .profile {
    /*vertical-align: middle;
    display: inline;*/

    display: block;
    text-align: center;

  }
  .avatar {
    width: 75px;
    border-radius: 50%;
    text-align: center;


  }
  .username {
    text-align: center;
    font-size: 45px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-decoration: none;
    color: #89DCEB;
  }

  .donate {
    font-size: 30px;
    text-decoration: none;
    color: black;
    padding: 6px;
    background-color: #89DCEB;
    border-radius: 5px;
    width: max-content;
    opacity: 1;
  }

  .bmc-btn-text {
    font-size: 15px;
  }

  .bmc-btn {
    float: center;
    text-align: center;
  }
}
